<div class="user-details">
  <h1>My Expertise</h1>
  <p>I am a cybersecurity and privacy risk consultant from Minneapolis, MN. Currently, I
    work on <a href="https://www.pcisecuritystandards.org" target="blank">Payment Card Industry (PCI)</a> risk
    assessments, reports on compliance (ROC), and Approved Scanning Vendor (ASV) testing. In March 2023, I received my <a href="https://hitrustalliance.net/certification/certified-csf-practitioner/" target="blank">HITRUST Certified CSF Practitioner (CCSFP) certification</a>. I am currently studying for the <a href="https://certifications.tcm-sec.com/pnpt/" target="blank">PNPT (Practical Network Penetration Tester) </a>certification.</p>
  <p>In the first several months of 2022, I also worked a part-time position as a tech fellow for <a href="https://codepath.org"
    target="blank">CodePath.org</a>. {{ site.user_experience }}</p> 
  <p>On May 15, 2021, I graduated summa cum laude from St. Ambrose University in Davenport, IA with a Bachelor of Arts
    degree in Cybersecurity, a Bachelor of Science degree in Computer Science, and a minor in Criminal Justice.</p>
</div>
<!-- <div class="user-details">
</div> -->
</div>